:root{
    --primary-font-size: 24px;
    --secondary-font-siza: 28px;

    --primary-font-weight: 400;
    --secondary-font-weitgh: 700;

    --primary-font-family: ;
    --secondary-font-family: ;
    
    --primary--border-color: #ffffff;
    --secondary--border-color: rgb(102, 100, 95);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  /*/background: linear-gradient(to left, #ff7e5f, #feb47b);
   background: radial-gradient(circle, #ff7e5f, #feb47b)/*/
   background: linear-gradient(to right,rgb(195, 240, 240),rgb(153, 247, 247), rgb(71, 248, 248));
}

.global_header{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 10rem;
    flex-direction: column;
    gap: 1rem;
}

.botoes_pesquisa{
    display: flex;
}

#barraPesquisa, #btn_pesquisa{
    padding: 5px;
    height: 35px;
    border: 1px groove var(--secondary--border-color);
}

#barraPesquisa{
    border-radius: 7px 0 1px 7px;
}

 #btn_pesquisa{
    border-radius: 1px 7px 7px 0 ;
    border-left: none;
 }

 .apresenta_clima{
    border: 2px solid var(--secondary--border-color);
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border-radius: 12px;
 }



